{{!-- Sidebar --}}
{{>sidebar}}
{{!-- Navbar --}}
{{>navbar}}

{{!-- Index --}}

<div class="sidebarPadding homeColor ">
   {{!-- Rasmli text --}}
  <div class=" index-slider  rounded-md">
       <div class="flex my-5 p-10 items-center ">
         <div>
         <p class="text-4xl font-semibold" ><span class="slider-text-color">Kitobek </span>- elektron kutubxonasi 
           <lord-icon
            src="https://cdn.lordicon.com/qwjfapmb.json"
            trigger="loop"
            delay="30"
            state="loop-flutter"
            colors="primary:#ebe6ef,secondary:#8930e8,tertiary:#3a3347,quaternary:#f24c00,quinary:#f9c9c0"
            style="width:50px;height:50px" class="z-1">
          </lord-icon>
         </p>

         <p class="text-2xl my-2">O'zbek va Jahon adabiyotidagi eng qiziqlarli asarlar audio farmatda tinglab mutalaa qiling! </p>
         <div class="my-5 text-xl ">
             <a href="/"><button class="button-color w-auto p-2 mx-2  rounded-md drop-shadow-lg z-auto">O'zbekcha - kitoblar</button></a>
             <a href="/"><button class="button-color w-auto p-2 mx-2 rounded-md drop-shadow-lg">Ingizcha - kitoblar</button></a>
             <a href="/"><button class="button-color w-auto p-2 mx-2 rounded-md drop-shadow-lg">Ruscha - kitoblar</button></a>
         </div>
             <p>* Har doim vaqtim yo'q deguvchilar, aslida hech narsa qilmaydilar.</p>
         </div>
          <img src="/imgs/book.png"  alt="read-book" class="w-64 ml-20">
      </div>
</div>
   {{!-- Mashhur kitoblar --}}
<div class="mt-10">
<p class="text-3xl font-semibold ">Eng mashhur kitoblar</p>
<div class="grid grid-cols-4 gap-4 ">
   <div class="w-64 h-80 my-5  rounded-md p-3 backColor ">
    <img src="/imgs/book1.jpg" class="w-32 mx-auto" >
    <p class="text-xl my-4">Samaradorlikni 21 yo'li</p>
    <div class="flex justify-between ">
    <p class="">Brayan Treysi</p>
     <i class="bi bi-volume-up text-2xl"></i>
    </div>
   </div>

   </div>
</div>
</div>


</div>