{{>navbar}}
<div class="w-full h-full homeColor fixed ">
   <div class="backColor mt-72 w-96 mx-auto rounded-md shadow-lg p-3">
      <p class="text-3xl font-semibold ml-36 my-2">Kirish</p>
      <p class="text1-color "><span class="text-violet-700 font-bold">*</span> O'zingizga qulay kirish usulini tanlang!
      </p>

      <a href="/auth/google" class="w-full button-color rounded-sm drop-shadow-lg my-2 flex p-2 items-center">
         <img src="/icons/google.png" class="w-8"> 
         <p class="text-lg mx-2">Google orqali kirish</p>
      </a>
      <a href="#" class="w-full button-color rounded-sm drop-shadow-lg my-2 flex p-2 items-center">
         <img src="/icons/github.png" class="w-8">
         <p class="text-lg mx-2"> Github orqali kirish</p>
      </a>
      <div class="flex items-center justify-between text1-color">
         <div class="line">

         </div>
         <p>yoki</p>
         <div class="line">

         </div>
      </div>
      <a href="" class="w-full button-color rounded-sm drop-shadow-lg my-2 flex p-2 items-center cursor-not-allowed ">
         <img src="/icons/email.png" class="w-8">
         <p  class="cursor-not-allowed text-lg mx-2"> Email orqali kirish</p>
      </a>
   </div>
</div>