<div id="myModal" class="modal">

    <div class="modal-content p-7 mx-auto">
        <span class="close">&times;</span>
        <p class="font-semibold text-2xl my-2">Biz bilan bog'lanish</p>
        <div class="border-bottom my-5">

        </div>
        <p class="text-2xl font-bold"> Email manzilingiz <span class="text-violet-700 font-bold">*</span></p>
        <input type="email" placeholder="example@gmail.com" class="p-2 w-full rounded-sm homeColor outline-none mt-3">
        <p class="text-sm text-slate-400">Emailingizga hech qanday <b class="text-violet-700">spam</b> yuborilmaydi!</p>

        <p class="text-2xl mt-2 font-bold"> Xabar matni... <span class="text-violet-700 font-bold">*</span></p>
        <textarea cols="40" rows="5" class="p-2 w-full rounded-sm homeColor outline-none mt-3 resize-none"></textarea>
        <p class="text-sm text-slate-400">Savol yoki takilflaringizni yozing.</p>

        <a href="#"><button class="w-full bg-violet-600 p-2  rounded-sm drop-shadow-lg mt-5">Yuborish</button></a>

    </div>
</div>