<div
  class="h-full w-72 flex justify-between pt-24 p-6 fixed backColor">
  <div class="flex-col">
    <p class="text-2xl pt-5 font-medium">Bo'limlar</p>
    <div class="line1 my-2">
    </div>

    <a href="/" class="flex text-xl hover-color rounded-md w-60 p-2 my-1">
      <i class="bi bi-house-door px-1"></i>
      <p>Bosh sahifa</p>
    </a>

    <a href="/all-books" class="flex text-xl hover-color rounded-md w-60 p-2 my-1">
      <i class="bi bi-book px-1"></i>
      <p>Barcha kitoblar</p>
    </a>

    <a href="#" class="flex text-xl hover-color rounded-md w-60 p-2 my-1 bgBlur" title="Tez kunda">
      <i class="bi bi-globe-americas px-1"></i>
      <p>Chet tilidagi kitoblar</p>
    </a>

    <a href="#" class="flex text-xl hover-color rounded-md w-60 p-2 my-1 bgBlur" title="Tez kunda">
     <i class="bi bi-bar-chart-line px-1"></i>
      <p>Top kitobxonlar</p>
    </a>

    <p class="text-2xl pt-16 font-medium">Biz haqimizda</p>
    <div class="line1 my-2">
    </div>

    <a href="#" class="flex text-xl hover-color rounded-md w-60 p-2 my-1 bgBlur" title="Tez kunda">
      <i class="bi bi-newspaper px-1"></i>
      <p>Blog</p>
    </a>

    <button class="flex text-xl hover-color rounded-md w-60 p-2 my-1">
      <i class="bi bi-envelope-at px-1"></i>
      <p id="myBtn">Biz bilan bog'lanish</p>
    </button>


    <a href="https://t.me/ortiqov_blog" target="_blank" class="flex text-xl hover-color rounded-md w-60 p-2 my-1">
      <i class="bi bi-telegram px-1"></i>
      <p>Telegram guruh</p>
    </a>

    <div class="line1 mt-28` mb-2">
    </div>
      <a href="https://github.com/ortiqovdev" target="_blank"><p class="text1-color ml-5">Powered by : Ortiqovdev<i class="bi bi-github mx-1"></i></p></a> 
  </div>
</div>




