{{!-- Sidebar --}}
{{>dash-sidebar}}
{{!-- Navbar --}}
{{>dash-navbar}}
<div class="sidebarPadding homeColor">
    <div class="flex flex-col ">

        <div class="text-3xl mx-auto">
            Barcha kitoblar
        </div>
        <div class="backColor border-all p-2 flex justify-around my-4">
          <a href="#">O'zbek adabiyoti</a> ||
          <a href="#">Jahon adabiyoti</a> ||
          <a href="#">Biznes kitoblar</a> ||
          <a href="#">Ertak kitoblar</a> ||
          <a href="#">Abuturentlar uchun kitoblar</a>
        </div>
        <div>
            <div class="grid grid-cols-4 gap-4 ">
                <div class="w-64 h-80 my-5  rounded-md p-3 backColor ">
                    <img src="/imgs/book1.jpg" class="w-32 mx-auto">
                    <p class="text-xl my-4">Samaradorlikni 21 yo'li</p>
                    <div class="flex justify-between ">
                        <p class="">Brayan Treysi</p>
                        <i class="bi bi-volume-up text-2xl"></i>
                    </div>
                </div>

            </div>
        </div>
        <div>
            <div class="grid grid-cols-4 gap-4 ">
                <div class="w-64 h-80 my-5  rounded-md p-3 backColor ">
                    <img src="/imgs/book1.jpg" class="w-32 mx-auto">
                    <p class="text-xl my-4">Samaradorlikni 21 yo'li</p>
                    <div class="flex justify-between ">
                        <p class="">Brayan Treysi</p>
                        <i class="bi bi-volume-up text-2xl"></i>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>