html {
  scroll-behavior: smooth;
}
:root {
  --primariy-color: #dcdcdc;
  --secondary-color: #111827;
  --nav-dark: #020817;
  --border-dark: #27324a;
  --logo-color: #7c3aed;
  --slider: #fc00ff;
  --hover-color: #1e293b;
  --dark-text: #505359;
  --popover: rgb(133, 124, 215);
  --hover-text: #a5a5a5;
  --msgBox-color: #876cc6;
}
.light-theme {
  --primariy-color: #323847;
  --secondary-color: #f3f4f6;
  --nav-dark: #ffffff;
  --border-dark: #e4e4e4;
  --logo-color: #fc00ff;
  --slider: #7c3aed;
  --hover-color: #e7d5fd;
  --dark-text: #9f9f9f;
  --popover: #c8b4eb;
  --hover-text: #50545e;
  --msgBox-color: #e7d5fd;
}

#icon {
  width: 30px;
  cursor: pointer;
  color: var(--primariy-color);
}
.text1-color {
  color: var(--dark-text);
}
.hover-color:hover {
  background-color: var(--hover-color);
}
.button-color {
  background-color: var(--logo-color);
  color: white;
}
.slider-text-color {
  color: var(--logo-color);
}
.index-slider {
  background: linear-gradient(90deg, var(--slider) 0%, var(--logo-color) 100%);
}
.sidebarPadding {
  padding: 40px;
  padding-left: 320px;
  padding-top: 100px;
  width: 100%;
  height: 100%;
}
.sidebarPadding2 {
  padding: 100px 300px 40px 300px;
  width: 100%;
  height: 100%;
}
.backColor {
  background: var(--secondary-color);
  color: var(--primariy-color);
}
.homeColor {
  background-color: var(--nav-dark);
  color: var(--primariy-color);
}
::-webkit-scrollbar {
  width: 8px;
  background-color: var(--nav-dark);
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: var(--logo-color);
  border-radius: 10px;
}
.border-bottom {
  border-bottom: 1px solid var(--border-dark);
}
.line1 {
  width: 100%;
  border-bottom: 1px solid var(--border-dark);
}
.line2 {
  width: 80%;
  border-bottom: 1px solid var(--border-dark);
}

.bgBlur {
  filter: blur(1px);
  cursor: not-allowed;
}

/* Search bar */
.search-bar-container {
  color: var(--primariy-color);
  display: flex;
  align-items: center;
  width: 300px;
  height: 50px;
  border-radius: 50px;
  border: 1px solid var(--primariy-color);
  /* margin: 10px; */
  position: relative;
  transition: width 1.5s;
}

.magnifier {
  width: 25px;
  cursor: pointer;
  position: absolute;
  left: 15px;
  bottom: 10px;
}

.mic-icon {
  width: 30px;
  position: absolute;
  right: 10px;
  transition: width 0.4s;
  transition-delay: 1s;
}

.input {
  background-color: transparent;
  border: none;
  margin: 10px 50px;
  width: 100%;
  outline: none;
  color: var(--primariy-color);
  transition: width 1s;
  transition-delay: 0.5s;
}

.active.search-bar-container {
  width: 50px;
}

.active .input {
  width: 0;
}

.active .mic-icon {
  width: 0;
}

/* Modal oyna */
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: var(--nav-dark);
  background-color: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(5px);
}
.modal-content {
  background-color: var(--secondary-color);
  margin: auto;
  color: var(--primariy-color);
  padding: 20px;
  width: 500px;
  border-radius: 5px;
  border: 1px solid var(--border-dark);
}

.close {
  color: var(--border-dark);
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #313f5b;
  text-decoration: none;
  cursor: pointer;
}

.line {
  width: 150px;
  height: 0.5px;
  background-color: var(--border-dark);
}

Profile popover .action {
  position: fixed;
  top: 20px;
  right: 30px;
}

.action .profile {
  border-radius: 50%;
  overflow: hidden;
  cursor: pointer;
}

.action .profile img {
  top: 0;
  left: 0;
  object-fit: cover;
}

.action .menu {
  position: absolute;
  top: 120px;
  right: 30px;
  padding: 10px 20px;
  background: var(--popover);
  width: 320px;
  box-sizing: 0 5px 25px rgba(0, 0, 0, 0.1);
  border-radius: 15px;
  transition: 0.5s;
  visibility: hidden;
  /* opacity: 1; */
  display: none;
}

.action .menu.active {
  top: 80px;
  visibility: visible;
  display: block;
  /* opacity: 2; */
  box-shadow: 7px 6px 11px -5px black;
}

.action .menu::before {
  content: "";
  position: absolute;
  top: -5px;
  right: 28px;
  width: 20px;
  height: 20px;
  background: var(--popover);
  transform: rotate(45deg);
}

.action .menu p {
  width: 100%;
  /* text-align: center; */
  font-size: 18px;
  font-weight: 500;
  line-height: 1.5em;
  color: var(--primariy-color);
}

.action .menu ul li {
  list-style: none;
  padding: 16px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
}

.action .menu ul li:hover img {
  opacity: 1;
}

.action .menu ul li a {
  display: inline-block;
  text-decoration: none;
  color: var(--primariy-color);
  font-weight: 500;
  transition: 0.5s;
}

.email-text {
  font-size: 15px;
}

.chat-style {
  width: 98%;
  height: 635px;
}
.chat2 {
  height: 84%;
  border: 1px solid var(--border-dark);
}
.chat3 {
  height: 8%;
  box-shadow: 0px -2px 10px -1px rgba(0, 0, 0, 0.49);
  background-color: var(--secondary-color);
  border: 1px solid var(--border-dark);
  color: var(--dark-text);
}
.chat-hover:hover {
  color: var(--hover-text);
  transition: all 0.5s step-start;
  cursor: pointer;
}
.chat4 {
  height: 8%;
  background-color: var(--secondary-color);
  border: 1px solid var(--border-dark);
  box-shadow: 0px 2px 10px -1px rgba(0, 0, 0, 0.49);
}
.left-bar {
  background-color: var(--secondary-color);
  border: 1px solid var(--border-dark);
}
.chatInput {
  width: 85%;
  padding: 2px;
  color: var(--primariy-color);
  background-color: var(--secondary-color);
  outline: none;
}

/* Input file button */
.upload-btn-wrapper {
  position: relative;
}

.upload-btn-wrapper input[type="file"] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

.chat-color {
  color: var(--dark-text);
}
.bgColorChat {
  background-color: var(--nav-dark);
}
.chatBg-hover {
  background-color: var(--secondary-color);
  border-radius: 2px;
}
.chatBg-hover:hover {
  background-color: var(--border-dark);
  transition: all 0.5s step-start;
  cursor: pointer;
}

.msgBox {
  width: auto;
  max-width: 80%;
  background-color: var(--secondary-color);
}
.msgBox2 {
  width: auto;
  max-width: 80%;
  background-color: var(--msgBox-color);
}

.set-style {
  background-color: var(--secondary-color);
  box-shadow: 0px 2px 10px 1px rgba(0, 0, 0, 0.49);
}

.border-all {
  border: 1px solid var(--border-dark);
}

.boxShadow{
  box-shadow: inset 0px 0px 11px -3px rgba(0,0,0,1);
}
.boxShadow1{
  box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.45);
}
.emo-bg{
  background-color: rgb(105, 188, 255);
}